#POSTGRESQL
POSTGRES_DB=local
POSTGRES_USER=local
POSTGRES_PASSWORD=local
POSTGRES_HOST=database
POSTGRES_PORT=5432

#DJANGO
DJANGO_SETTINGS_MODULE=config.settings
DEBUG=off
ALLOWED_HOSTS=*,
CSRF_TRUSTED_ORIGINS="https://127.0.0.1:8000,https://0.0.0.0:8000"
TIMEZONE=UTC
SECRET_KEY="django-insecure-^hx4vco_&p3urjr5p9y1evw7^p%caba0+3p64q=a$!2l&=z=oz"

#REDIS
REDIS_USER=default
REDIS_PASSWORD=foobared
REDIS_HOST=redis
REDIS_PORT=6379

#FIREBASE
FIREBASE_CREDENTIALS_FILE_NAME="firebase_key.json"
