include LICENSE
include README.rst
include setup.cfg
include setup.py
include pyproject.toml

recursive-include apps/alert_winglet __init__.py apps.py base/* discord/* tests/*
recursive-exclude apps/core *
recursive-exclude config/ *
recursive-exclude apps/alert_winglet/__pycache__ *
recursive-exclude apps/alert_winglet/tests/__pycache__ *
recursive-exclude apps/alert_winglet/discord/__pycache__ *
recursive-exclude apps/alert_winglet/base/__pycache__ *
